@model Property4U.Models.Request

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!--End Page Header -->
</div>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEdit)
        </dd>

    </dl>
</div>
<p>
    
    @if (Request.IsAuthenticated && User.IsInRole("Member"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
